<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ats.mapper.AnnMapper">

	<!-- 공고 등록 -->
	<insert id="create">
		<selectKey keyProperty="annNum" resultType="int"
			order="BEFORE">
			SELECT SEQ_TBL_ANN.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_ANN (ANN_NUM, ANN_NAME, ANN_FIELD, ANN_START_DATE,
		ANN_END_DATE,
		DETAIL, MNG_ID, ANN_ACT, DEADLINE)
		VALUES (#{annNum},
		#{annName}, #{annField},
		#{annStartDate}, #{annEndDate},
		#{detail},
		#{mngId}, #{annAct}, #{deadline})
	</insert>

	<select id="read" resultType="com.ats.domain.AnnVO">
		SELECT ANN_NUM, ANN_NAME,
		ANN_FIELD, ANN_START_DATE, ANN_END_DATE,
		DETAIL, MNG_ID, ANN_ACT,
		DEADLINE, ANN_REG_DATE
		FROM TBL_ANN
		WHERE ANN_NUM =
		#{annNum}
	</select>

	<update id="update">
		UPDATE TBL_ANN SET ANN_NAME = #{annName},
		ANN_FIELD =
		#{annField},
		ANN_START_DATE = #{annStartDate},
		ANN_END_DATE =
		#{annEndDate},
		DETAIL = #{detail},
		ANN_ACT = #{annAct},
		DEADLINE =
		#{deadline}
		WHERE ANN_NUM = #{annNum}
	</update>

	<delete id="delete">
		DELETE FROM TBL_ANN WHERE ANN_NUM = #{annNum}
	</delete>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'a'.toString()">
				AND TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'm'.toString()">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'd'.toString()">
				AND (TITLE LIKE '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="com.ats.domain.AnnVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, ANN.ANN_NUM, ANN.ANN_NAME, 
						ANN.ANN_FIELD, ANN.ANN_START_DATE, ANN.ANN_END_DATE,
						ANN.DETAIL, ANN.MNG_ID, ANN.ANN_ACT, ANN.DEADLINE, 
						ANN.ANN_REG_DATE 
				FROM TBL_ANN ANN, TBL_MNG MNG  
				WHERE ANN.MNG_ID = MNG.MNG_ID AND MNG.MNG_ID = #{keyword}
		]]>
		<include refid="search"></include>
		<![CDATA[
			ORDER BY ANN_NUM DESC)
			WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY ANN_NUM DESC
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_ANN ANN, TBL_MNG MNG
			WHERE ANN.MNG_ID = MNG.MNG_ID AND MNG.MNG_ID=#{keyword}
		]]>
		<include refid="search"></include>
	</select>

	<!-- 공고 이미지 파일 등록 -->
	<insert id="insertImage">
		INSERT INTO TBL_ANN_IMAGE (ANN_IMAGE_NUM,
		ANN_IMAGE_NAME, ANN_NUM)
		VALUES (SEQ_TBL_ANN_IMAGE.NEXTVAL,
		#{annImageName}, #{annNum})
	</insert>

	<!-- 공고 이미지 파일 삭제 -->
	<delete id="deleteImage">
		DELETE FROM TBL_ANN_IMAGE WHERE ANN_NUM =
		#{annNum}
	</delete>

	<!-- 공고 이미지 파일 목록 -->
	<select id="imageList" resultType="com.ats.domain.AnnImageVO">
		SELECT ANN_IMAGE_NUM,
		SUBSTR(ANN_IMAGE_NAME, 50) AS ANN_IMAGE_NAME,
		ANN_IMAGE_NAME AS
		FILE_LOCATION,
		ANN_NUM

		FROM TBL_ANN_IMAGE
		WHERE ANN_NUM = #{annNUm}
	</select>

	<!-- 공고 이미지 파일 등록 -->
	<insert id="insertFile">
		INSERT INTO TBL_ANN_FILE (ANN_FILE_NUM,
		ANN_FILE_NAME, ANN_NUM)
		VALUES (SEQ_TBL_ANN_FILE.NEXTVAL,
		#{annFileName}, #{annNum})
	</insert>

	<!-- 공고 이미지 파일 삭제 -->
	<delete id="deleteFile">
		DELETE FROM TBL_ANN_FILE WHERE ANN_NUM =
		#{annNum}
	</delete>

	<!-- 공고 이미지 파일 목록 -->
	<select id="fileList" resultType="com.ats.domain.AnnFileVO">
		SELECT ANN_FILE_NUM,
		SUBSTR(ANN_FILE_NAME, 50) AS ANN_FILE_NAME,
		ANN_FILE_NAME AS
		FILE_LOCATION,
		ANN_NUM

		FROM TBL_ANN_FILE
		WHERE ANN_NUM = #{annNUm}
	</select>

	<select id="listIngSearch" resultType="com.ats.domain.AnnVO">
	<![CDATA[
	SELECT * FROM (
				SELECT ROWNUM RNUM, ANN_NUM, ANN_NAME, ANN_FIELD, 
						ANN_START_DATE, ANN_END_DATE,
						DETAIL, MNG_ID, ANN_ACT, DEADLINE, ANN_REG_DATE 
						FROM (SELECT ROWNUM RNUM, ANN.ANN_NUM, ANN.ANN_NAME, 
									ANN.ANN_FIELD, ANN.ANN_START_DATE, ANN.ANN_END_DATE,
									ANN.DETAIL, ANN.MNG_ID, ANN.ANN_ACT, ANN.DEADLINE, ANN.ANN_REG_DATE 
									FROM TBL_ANN ANN, TBL_MNG MNG 
                                		WHERE ANN.MNG_ID = MNG.MNG_ID
                                    			AND MNG.MNG_ID = #{keyword}
                                   				AND ANN.ANN_ACT = 1 
												AND ANN.ANN_START_DATE < SYSDATE 
												AND ANN.DEADLINE = 0
									]]><include refid="search"></include>
		<![CDATA[ORDER BY ANN_NUM DESC)) 
				WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})ORDER BY ANN_NUM DESC
		]]>
		
	</select>

	<select id="listIngSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_ANN ANN, TBL_MNG MNG
			WHERE ANN.ANN_ACT = 1 
				AND ANN.ANN_START_DATE < SYSDATE 
				AND ANN.DEADLINE = 0
				AND ANN.MNG_ID = MNG.MNG_ID
				AND MNG.MNG_ID = #{keyword}
		]]>
		<include refid="search"></include>
	</select>

	<select id="listEndSearch" resultType="com.ats.domain.AnnVO">
	<![CDATA[
		SELECT * FROM (
				SELECT ROWNUM RNUM, ANN_NUM, ANN_NAME, ANN_FIELD, 
						ANN_START_DATE, ANN_END_DATE,
						DETAIL, MNG_ID, ANN_ACT, DEADLINE, ANN_REG_DATE 
						FROM (SELECT ROWNUM RNUM, ANN.ANN_NUM, ANN.ANN_NAME, 
									ANN.ANN_FIELD, ANN.ANN_START_DATE, ANN.ANN_END_DATE,
									ANN.DETAIL, ANN.MNG_ID, ANN.ANN_ACT, ANN.DEADLINE, ANN.ANN_REG_DATE 
									FROM TBL_ANN ANN, TBL_MNG MNG 
                                		WHERE ANN.MNG_ID = MNG.MNG_ID
                                    			AND MNG.MNG_ID = #{keyword}
                                   				AND ANN.ANN_ACT = 1 
												AND ANN.ANN_END_DATE < SYSDATE 
												AND ANN.DEADLINE = 1
									]]><include refid="search"></include>
		<![CDATA[ORDER BY ANN_NUM DESC)) 
				WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})ORDER BY ANN_NUM DESC
		]]>
	</select>

	<select id="listEndSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_ANN ANN, TBL_MNG MNG
			WHERE ANN.ANN_ACT = 1 
				AND ANN.ANN_END_DATE < SYSDATE 
				AND ANN.DEADLINE = 1
				AND ANN.MNG_ID = MNG.MNG_ID
				AND MNG.MNG_ID = #{keyword}
		]]>
		<include refid="search"></include>
	</select>

	<select id="listIESearch" resultType="com.ats.domain.AnnVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, ANN_NUM, ANN_NAME, ANN_FIELD, ANN_START_DATE, ANN_END_DATE,
								DETAIL, MNG_ID, ANN_ACT, DEADLINE, ANN_REG_DATE
					FROM (SELECT ROWNUM RNUM, ANN_NUM, ANN_NAME, ANN_FIELD, ANN_START_DATE, ANN_END_DATE,
								DETAIL, MNG_ID, ANN_ACT, DEADLINE, ANN_REG_DATE 
								FROM TBL_ANN WHERE (ANN_ACT = 1 AND ANN_END_DATE < SYSDATE AND DEADLINE = 1) 
								or (ANN_ACT = 1 AND ANN_END_DATE > SYSDATE AND DEADLINE = 0)
		]]>
		<include refid="search"></include>
		<![CDATA[
			ORDER BY ANN_NUM DESC))
			WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY ANN_NUM DESC
		]]>
	</select>

	<select id="listIESearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_ANN
			WHERE (ANN_ACT = 1 AND ANN_END_DATE < SYSDATE AND DEADLINE = 1) 
								or (ANN_ACT = 1 AND ANN_END_DATE < SYSDATE AND DEADLINE = 0)
		]]>
		<include refid="search"></include>
	</select>
	
	<select id="listSearchResult" resultType="com.ats.domain.AnnVO">
	<![CDATA[
	SELECT * FROM (
         SELECT ROWNUM RNUM, APP.APP_NUM,APP.ANN_NUM,APP.USER_ID, APP.APP_REG_DATE 
        ,ANN.ANN_NAME, ANN.ANN_START_DATE, ANN.ANN_END_DATE 
        FROM TBL_ANN ANN, TBL_APP APP 
        WHERE ANN.ANN_NUM = APP.ANN_NUM 
                AND APP.ANN_NUM = (SELECT ANN_NUM FROM TBL_APP WHERE USER_ID=#{keyword}) 
                AND ANN.DEADLINE != 0 
                ORDER BY APP_NUM DESC)
                ]]>
                
                <![CDATA[
                      WHERE (RNUM >= 1 AND RNUM <= 1)
      					ORDER BY APP_NUM DESC, APP_REG_DATE DESC
      					]]>
	</select>
	
	<select id="listSearchCountResult" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_ANN
			WHERE (ANN_ACT = 1 AND DEADLINE = 1) 
								
		]]>
		<include refid="search"></include>
	</select>
	



</mapper>