<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ats.mapper.AppEvaMapper">
	<insert id="appEvaCreate">
		INSERT INTO TBL_APP_EVA (APP_NUM, EVA_NUM, RATER_ID, SCORE_SUM, SCORE_COMMENT)
		VALUES (#{appNum}, #{evaNum}, #{raterId}, #{scoreSum}, #{scoreComment})
	</insert>
	
	<select id="appEvaRead" resultType="com.ats.domain.AppEvaVO">
		SELECT APP_NUM, EVA_NUM, RATER_ID, SCORE_SUM, SCORE_COMMENT, SCORE_REG_DATE
			FROM TBL_APP_EVA
			WHERE APP_NUM = #{appNum} AND EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</select>
	
	<insert id="evaDetailCreate">
		INSERT INTO TBL_EVA_DETAIL (EVA_DETAIL_NUM, EVA_NUM, APP_NUM, RATER_ID, EVA_ITEM_NUM, EVA_DETAIL_SCORE)
		VALUES (SEQ_TBL_EVA_DETAIL.nextval, #{evaNum}, #{appNum}, 
		#{raterId}, #{evaItemNum}, #{evaDetailScore})
	</insert>
	
	<select id="evaDetailRead" resultType="com.ats.domain.EvaDetailVO">
		SELECT EVA_DETAIL_NUM, EVA_NUM, APP_NUM, RATER_ID, EVA_ITEM_NUM, EVA_DETAIL_SCORE
			FROM TBL_EVA_DETAIL
			WHERE APP_NUM = #{appNum} AND EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</select>
	
	
	
	<select id="listCountCriteria" resultType="int">
		SELECT COUNT(*) FROM TBL_APP_EVA
	</select>
	
	<select id="listCriteria" resultType="com.ats.domain.AppEvaVO">
	<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM RNUM, ae.APP_NUM, ae.EVA_NUM, ae.RATER_ID, ae.SCORE_REG_DATE, ap.USER_ID, ap.APP_REG_DATE, ae.SCORE_SUM, ae.SCORE_COMMENT
    		FROM TBL_APP_EVA ae, TBL_APP ap 
        		WHERE ae.APP_NUM = ap.APP_NUM ORDER BY ap.USER_ID)		
		WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
		ORDER BY APP_NUM DESC, SCORE_REG_DATE DESC
		]]>
	</select>	

	<select id="evaDetailList" resultType="com.ats.domain.EvaDetailVO">
		SELECT EVA_DETAIL_NUM, EVA_NUM, APP_NUM, RATER_ID, EVA_ITEM_NUM, EVA_DETAIL_SCORE
			FROM TBL_EVA_DETAIL
			WHERE APP_NUM = #{appNum} AND EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</select>
</mapper>