<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ats.mapper.EvaMapper">
	<insert id="evaCreate">
		<selectKey keyProperty="evaNum" resultType="int"
			order="BEFORE">
			SELECT SEQ_TBL_EVA.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_EVA (EVA_NUM, ANN_NUM, EVA_NAME, DEGREE,
		EVA_START_DATE, EVA_END_DATE)
		VALUES (#{evaNum}, #{annNum}, #{evaName},
		#{degree},
		#{evaStartDate}, #{evaEndDate})
	</insert>

	<insert id="evaItemCreate">
		INSERT INTO TBL_EVA_ITEM (EVA_NUM, EVA_PLOT,
		EVA_SCORE, EVA_ITEM_NUM)
		VALUES (#{evaNum}, #{evaPlot}, #{evaScore},
		SEQ_TBL_EVA_ITEM.NEXTVAL)
	</insert>

	<insert id="raterListCreate">
		INSERT INTO TBL_RATER_LIST (EVA_NUM, RATER_ID,
		COMPLETE)
		VALUES (#{evaNum}, #{raterId}, #{complete})
	</insert>

	<select id="evaRead" resultType="com.ats.domain.EvaVO">
		SELECT EVA_NUM, ANN_NUM,
		EVA_NAME, DEGREE,
		EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
		FROM TBL_EVA
		WHERE EVA_NUM = #{evaNum}
	</select>

	<select id="evaItemList" resultType="com.ats.domain.EvaItemVO">
		SELECT EVA_NUM, EVA_PLOT,
		EVA_SCORE, EVA_ITEM_NUM
		FROM TBL_EVA_ITEM
		WHERE EVA_NUM = #{evaNum}
	</select>

	<select id="raterArrayList"
		resultType="com.ats.domain.RaterListVO">
		SELECT EVA_NUM, RATER_ID, COMPLETE
		FROM TBL_RATER_LIST
		WHERE
		EVA_NUM = #{evaNum}
	</select>

	<update id="evaUpdate">
		UPDATE TBL_EVA SET EVA_NAME = #{evaName},
		EVA_START_DATE = #{evaStartDate}, EVA_END_DATE = #{evaEndDate}
		WHERE
		EVA_NUM = #{evaNum}
	</update>

	<update id="evaItemUpdate">
		UPDATE TBL_EVA_ITEM SET EVA_PLOT = #{evaPlot},
		EVA_SCORE = #{evaScore}
		WHERE EVA_ITEM_NUM = #{evaItemNum}
	</update>

	<update id="raterListUpdate">
		UPDATE TBL_RATER_LIST SET COMPLETE = #{complete}
		WHERE EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</update>

	<delete id="evaDelete">
		DELETE FROM TBL_EVA WHERE EVA_NUM = #{evaNum}
	</delete>

	<delete id="evaItemDelete">
		DELETE FROM TBL_EVA_ITEM WHERE EVA_NUM = #{evaNum}
	</delete>

	<delete id="raterListDelete">
		DELETE FROM TBL_RATER_LIST WHERE EVA_NUM = #{evaNum}
	</delete>

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'e'.toString()">
				AND TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'm'.toString()">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND (TITLE LIKE '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>

	<select id="listSearch" resultType="com.ats.domain.EvaVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
					FROM (SELECT ROWNUM RNUM, EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
								FROM TBL_EVA WHERE EVA_NUM > 0 AND #{keyword} IN (SELECT RATER_ID FROM TBL_RATER_LIST WHERE EVA_NUM = TBL_EVA.EVA_NUM)
		]]>
		<![CDATA[
			ORDER BY EVA_NUM DESC))
			WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY EVA_NUM DESC
		]]>
	</select>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_EVA
			WHERE EVA_NUM > 0
		]]>
		<include refid="search"></include>
	</select>

	<select id="listMngEva" resultType="com.ats.domain.EvaVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE, 
				(SELECT COUNT(*) FROM TBL_PASS WHERE TBL_PASS.EVA_NUM=inner_eva.EVA_NUM) AS EVA_PASS
					FROM (SELECT ROWNUM RNUM, EVA.EVA_NUM, EVA.ANN_NUM, EVA.EVA_NAME, EVA.DEGREE, 
							EVA.EVA_START_DATE, EVA.EVA_END_DATE, EVA.EVA_REG_DATE
								FROM TBL_EVA EVA, TBL_ANN ANN 
                                WHERE EVA.EVA_NUM > 0 
                                        AND EVA.ANN_NUM = ANN.ANN_NUM
                                        AND ANN.MNG_ID = #{keyword}) inner_eva
		]]>
		<![CDATA[
			ORDER BY EVA_NUM DESC)
			WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY EVA_NUM DESC
		]]>
	</select>

	<select id="listMngEvaCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_EVA EVA, TBL_ANN ANN
			WHERE EVA_NUM > 0 AND EVA.ANN_NUM = ANN.ANN_NUM
                                        AND ANN.MNG_ID = #{keyword}
		]]>
		<include refid="search"></include>
	</select>


	<update id="raterCompleteUpdate">
		UPDATE TBL_RATER_LIST SET COMPLETE = #{complete}
		WHERE EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</update>


	<select id="listEvaPass" resultType="com.ats.dto.EvaPassDTO">
		SELECT EVA_NUM, APP_NUM,
		RATER_ID, USER_NAME, DETAILS, SCORE,
		(SUM (SCORE) OVER (PARTITION BY APP_NUM)) AS TOTAL_SUM,
		ROUND((AVG (SCORE) OVER (PARTITION BY APP_NUM)),3) AS TOTAL_AVG,
		NVL2(PASS, '1', '0') AS PASS_CHECK
		FROM(
		select dt.EVA_NUM, dt.APP_NUM, dt.RATER_ID, USER_NAME, DETAILS, SCORE,
		pas.APP_NUM as PASS
		FROM (SELECT dt.EVA_NUM, dt.APP_NUM, dt.RATER_ID, us.USER_NAME,
		LISTAGG(dt.EVA_DETAIL_SCORE, ',')WITHIN GROUP(ORDER BY
		dt.EVA_DETAIL_SCORE) AS DETAILS,
		SUM(dt.EVA_DETAIL_SCORE) AS SCORE
		FROM TBL_EVA_DETAIL dt, TBL_USER us
		WHERE (SELECT USER_ID FROM TBL_APP WHERE TBL_APP.APP_NUM = dt.APP_NUM) =
		us.USER_ID
		AND EVA_NUM = #{evaNum} GROUP BY dt.EVA_NUM, dt.APP_NUM, dt.RATER_ID,
		us.USER_NAME
		ORDER BY dt.APP_NUM) dt left join TBL_PASS pas ON dt.APP_NUM = pas.APP_NUM)
	</select>

	<insert id="insertEvaPass">
		INSERT INTO TBL_PASS (APP_NUM, EVA_NUM)
		VALUES
		(#{appNum}, #{evaNum})
	</insert>

	<select id="listPassUser" resultType="com.ats.domain.PassVO">
		SELECT * FROM TBL_PASS
		WHERE EVA_NUM = #{evaNum}
	</select>
</mapper>