<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ats.mapper.EvaMapper">
<insert id="evaCreate">
	<selectKey keyProperty="evaNum" resultType="int"
			order="BEFORE">
			SELECT SEQ_TBL_EVA.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO TBL_EVA (EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
							EVA_START_DATE, EVA_END_DATE)
		VALUES (#{evaNum}, #{annNum}, #{evaName}, #{degree},
				#{evaStartDate}, #{evaEndDate})
	</insert>
	
	<insert id="evaItemCreate">
		INSERT INTO TBL_EVA_ITEM (EVA_NUM, EVA_PLOT, EVA_SCORE, EVA_ITEM_NUM)
		VALUES (#{evaNum}, #{evaPlot}, #{evaScore}, SEQ_TBL_EVA_ITEM.NEXTVAL)
	</insert>
	
	<insert id="raterListCreate">
		INSERT INTO TBL_RATER_LIST (EVA_NUM, RATER_ID, COMPLETE)
		VALUES (#{evaNum}, #{raterId}, #{complete})
	</insert>
	
	<select id="evaRead" resultType="com.ats.domain.EvaVO">
		SELECT EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
		FROM TBL_EVA
		WHERE EVA_NUM = #{evaNum}
	</select>
	
	<select id="evaItemList" resultType="com.ats.domain.EvaItemVO">
		SELECT EVA_NUM, EVA_PLOT, EVA_SCORE, EVA_ITEM_NUM
		FROM TBL_EVA_ITEM
		WHERE EVA_NUM = #{evaNum}
	</select>
	
	<select id="raterArrayList" resultType="com.ats.domain.RaterListVO">
		SELECT EVA_NUM, RATER_ID, COMPLETE
		FROM TBL_RATER_LIST
		WHERE EVA_NUM = #{evaNum}
	</select>
	
	<update id="evaUpdate">
		UPDATE TBL_EVA SET EVA_NAME = #{evaName}, EVA_START_DATE = #{evaStartDate}, EVA_END_DATE = #{evaEndDate}
		WHERE EVA_NUM = #{evaNum}
	</update>
	
	<update id="evaItemUpdate">
		UPDATE TBL_EVA_ITEM SET EVA_PLOT = #{evaPlot}, EVA_SCORE = #{evaScore}
		WHERE EVA_ITEM_NUM = #{evaItemNum}
	</update>
	
	<update id="raterListUpdate">
		UPDATE TBL_RATER_LIST SET COMPLETE = #{complete}
		WHERE EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</update>
	
	<delete id="evaDelete">
		DELETE FROM TBL_EVA WHERE EVA_NUM = #{evaNum}
	</delete>
	
	<delete id="evaItemDelete">
		DELETE FROM TBL_EVA_ITEM WHERE EVA_NUM = #{evaNum}
	</delete>
	
	<delete id="raterListDelete">
		DELETE FROM TBL_RATER_LIST WHERE EVA_NUM = #{evaNum}
	</delete>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'e'.toString()">
				AND TITLE LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'm'.toString()">
				AND CONTENT LIKE '%' || #{keyword} || '%'
			</if>
			<if test="searchType == 'c'.toString()">
				AND (TITLE LIKE '%' || #{keyword} || '%')
			</if>
		</if>
	</sql>
	
	<select id="listSearch" resultType="com.ats.domain.EvaVO">
		<![CDATA[
			SELECT * FROM (
				SELECT ROWNUM RNUM, EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
					FROM (SELECT ROWNUM RNUM, EVA_NUM, ANN_NUM, EVA_NAME, DEGREE, 
				EVA_START_DATE, EVA_END_DATE, EVA_REG_DATE
								FROM TBL_EVA WHERE EVA_NUM > 0 AND #{keyword} IN (SELECT RATER_ID FROM TBL_RATER_LIST WHERE EVA_NUM = TBL_EVA.EVA_NUM)
		]]>
		<![CDATA[
			ORDER BY EVA_NUM DESC))
			WHERE (RNUM >= #{pageStart} AND RNUM <= #{pageEnd})
			ORDER BY EVA_NUM DESC
		]]>
	</select>
	
		<select id="listSearchCount" resultType="int">
		<![CDATA[
			SELECT COUNT(*) FROM TBL_EVA
			WHERE EVA_NUM > 0
		]]>
		<include refid="search"></include>
	</select>
	
	<update id="raterCompleteUpdate">
		UPDATE TBL_RATER_LIST SET COMPLETE = #{complete}
		WHERE EVA_NUM = #{evaNum} AND RATER_ID = #{raterId}
	</update>
</mapper>